html{
    border: 1px solid yellowgreen;
    margin: 0px;
    padding: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .main-container {

    height:fit-content;
    border: 2px solid red;
    padding: 50px;    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.box {
 border: 2px solid darkslategrey;
 border-radius: 8px;
 width: 100px;
 height: 100px;
 display: flex;
 justify-content: center;
 align-items: center;
}
